.post-wrapper {
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 5px 10px;
}

@media only screen and (max-width: 1200px) {
  .post-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .post-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 790px) {
  .post-wrapper {
    width: 90%;
  }
}

.post-header,
.post-footer {
  display: flex;
}

.post-header {
  justify-content: space-between;
}

.post-footer {
  justify-content: flex-end;
}

.post-main img {
  max-width: 100%;
  max-height: 500px;
}

.icon-action {
  margin: 15px 15px 0 0;
  height: 25px;
  width: 25px;
}

.post-skeleton-title,
.post-skeleton-author,
.post-skeleton-image,
.post-skeleton-footer {
  width: 90%;
  margin: 0 auto;
}

.post-skeleton-author {
  height: 50;
}
.post-skeleton-title {
  height: 80;
}
.post-skeleton-image {
  height: 120;
}
.post-skeleton-footer {
  height: 50;
}
